@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Danny is a voice talent providing voice over services for documentary, e-learning, corporate narration, and character animation.</p>
<p>Clients have described Danny's sound as fitting that of a relatable "every man", a friend, a teacher, or an authority figure.  His delivery has been noted as cool, intelligent, smooth, and trustworthy. </p>
<img src="~/images/danny vo.jpg" />
<audio controls="controls">
    <source src="~/VODemo/DB_Narration%20Demo.mp3" type="audio/mpeg" />
</audio>
