@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/danny vo.jpg" alt="ASP.NET" class="center-block" />            
            <div class="carousel-caption" role="option">
                <p>
                    Call today and see how I can help your message be heard!
                    
                </p>
            </div>
        </div>
        <div class="item">                     
            <img src="~/images/danny vo4.jpg" alt="Visual Studio" class="center-block" />
            <div class="carousel-caption" role="option">
                <p>
                    Clean and professional sound guaranteed!
                    
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/danny vo3.jpg" alt="Microsoft Azure" class="center-block" />            
            <div class="carousel-caption" role="option">
                <p>
                    Trained by experienced voice over talent in New York City & Nashville, TN
                    
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>VO Styles</h2>
        <ul>
            <li>Corporate Narration</li>
            <li>Documentary Narration</li>
            <li>E-Learning</li>
            <li>Character Animation</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Recording Space</h2>
        <ul>
            <li>Auralex Sound Treated In-Home Studio</li>
            <li>Blue Yeti Microphone</li>
            <li>Recording & Sound Engineering with Audacity</li>
        </ul>
    </div>    
    <div class="col-md-4">
        <h2>Notable Clients</h2>
        <ul>
            <li>The History Channel</li>
            <li>The Learning Channel (TLC)</li>
            <li>Silverlight Studios (Halo Video Game Series)</li>
        </ul>
    </div>
</div>
